<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing Climate Change using Earth Surface Temperature Visualization</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
</head>

<body>
    <div class="relative min-h-screen md:flex" data-dev-hint="container">

        <aside id="sidebar"
            class="bg-gray-800 text-gray-100 w-1/6 space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto"
            data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
            <div class="flex flex-col space-y-6" data-dev-hint="optional div for having an extra footer navigation">
                <p class="text-white flex items-center space-x-2 px-4"
                    title="Analyzing Climate Change using Earth Surface Temperature Visualization">
                    <span class="text-2xl font-extrabold whitespace-nowrap truncate">Analyzing Climate Change using
                        Earth Surface Temperature Visualization</span>
                </p>

                <nav data-dev-hint="main navigation">
                    <div class="flex items-center space-x-2 py-2 px-4 relative w-full">
                        <input type="text" class="bg-gray-600 rounded w-full p-3" placeholder="Search for a city..."
                            id="citySearch" autocomplete="off" />
                        <div id="result_container"
                            class="absolute w-full p-3 bg-white top-14 -left-2 text-black max-h-64 overflow-y-auto hidden">
                            <ul id="results" class="list-reset h-full block"></ul>
                        </div>
                    </div>
                    <!-- <p class="flex items-center space-x-2 py-2 px-4"><span><strong>Date: </strong></span><input
                            type="date" class="rounded bg-gray-600 w-full" id="startDate" /><span></p> -->
                    <!-- <p class="flex items-center space-x-2 py-2 px-4"><strong>End Date: </strong></span><input -->
                    <!-- type="date" class="rounded bg-gray-600 w-full" id="endDate" /></p> -->
                    <p class="flex items-center space-x-2 py-2 px-4">
                        <button id="displayData"
                            class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-600 hover:bg-indigo-700 transition ease-in-out duration-150 w-full text-center">
                            Predict for Next 7 Days
                        </button>
                    </p>
                </nav>
            </div>
        </aside>

        <main id="content" class="flex-1 p-6 lg:px-8 h-screen overflow-y-auto">
            <!-- <div class="mx-auto px-3 py-6">
                <button
                    class="text-center px-6 py-2 border border-gray-400 text-xl font-medium rounded-md text-white bg-gray-700">
                    Map
                </button>
                <button
                    class="text-center px-6 py-2 border border-gray-400 text-xl font-medium rounded-md bg-gray-100 hover:bg-gray-200">
                    Graph
                </button>
            </div> -->
            <div class="h-3/4 mx-auto">
                <div class="border-4 border-dashed border-gray-200 rounded-lg h-full">
                    <div id="map"></div>
                    <div id="rangeContainer" class="rangeContainer hidden" style="    position: relative;
                    top: -12vh;
                    z-index: 1000;
                    right: 0vw;
                    background: white;
                    padding: 30px 30px 30px 30px;
                    width: 615px;">
                        <p style="position: relative;
                        top: -20px;
                        left: -15px;">Temperature Visualization:</p>
                        <div class="range">
                            <input id="changeDate" type="range" min="1" max="7" steps="1" value="1">
                        </div>

                        <ul class="range-labels">
                            <li class="active selected">Today</li>
                            <li>2 days</li>
                            <li>3 days</li>
                            <li>4 days</li>
                            <li>5 days</li>
                            <li>6 days</li>
                            <li>7 days</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mx-auto px-3 py-6 text-center">
                <button type="button"
                    class="inline-flex items-center px-4 py-2 font-semibold leading-6 text-sm shadow rounded-md text-white bg-indigo-500 hover:bg-indigo-400 transition ease-in-out duration-150 cursor-not-allowed hidden"
                    disabled="" id="processingButton">
                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg"
                        fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4">
                        </circle>
                        <path class="opacity-75" fill="currentColor"
                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                        </path>
                    </svg>
                    Processing...
                </button>
                <div id="predictionImage" class="w-full"></div>
            </div>
        </main>
    </div>
</body>
<script src="https://cdn.plot.ly/plotly-2.6.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="../static/js/timeline-slider.js" defer></script>
<script type="text/javascript">
    const cities = JSON.parse('{{cities_list | tojson}}');
</script>
<script src="../static/js/map.js" defer></script>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.4.6"></script>
<script src="../static/js/search.js" defer></script>
<script src="../static/js/prediction.js" defer></script>
<script>
    var sheet = document.createElement('style'),
        $rangeInput = $('.range input'),
        prefs = ['webkit-slider-runnable-track', 'moz-range-track', 'ms-track'];

    document.body.appendChild(sheet);

    var getTrackStyle = function (el) {
        var curVal = el.value,
            val = (curVal - 1) * 16.666666667,
            style = '';

        // Set active label
        $('.range-labels li').removeClass('active selected');

        var curLabel = $('.range-labels').find('li:nth-child(' + curVal + ')');

        curLabel.addClass('active selected');
        curLabel.prevAll().addClass('selected');

        // Change background gradient
        for (var i = 0; i < prefs.length; i++) {
            style += '.range {background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #fff ' + val + '%, #fff 100%)}';
            style += '.range input::-' + prefs[i] + '{background: linear-gradient(to right, #37adbf 0%, #37adbf ' + val + '%, #b2b2b2 ' + val + '%, #b2b2b2 100%)}';
        }

        return style;
    }

    $rangeInput.on('input', function () {
        sheet.textContent = getTrackStyle(this);
    });

    // Change input value on label click
    $('.range-labels li').on('click', function () {
        var index = $(this).index();

        $rangeInput.val(index + 1).trigger('input');
        var currentCityName = document.getElementById('citySearch').value || 'Buffalo';
        var latitude = document.getElementById('citySearch').getAttribute('latitude') || '42.8864';
        var longitude = document.getElementById('citySearch').getAttribute('longitude') || '-78.8784';
        changeColor({ city: currentCityName, latitude: latitude, longitude: longitude }, temperatureData[index]);

    });

    document.getElementById('changeDate').addEventListener('change', (e) => {
        var currentCityName = document.getElementById('citySearch').value || 'Buffalo';
        var latitude = document.getElementById('citySearch').getAttribute('latitude') || '42.8864';
        var longitude = document.getElementById('citySearch').getAttribute('longitude') || '-78.8784';
        changeColor({ city: currentCityName, latitude: latitude, longitude: longitude }, temperatureData[e.target.value - 1]);
    })

</script>

</html>