<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analyzing Climate Change using Earth Surface Temperature Visualization</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {{ hdr_txt }}
</head>

<body>
    <div class="relative min-h-screen md:flex" data-dev-hint="container">

        <aside id="sidebar"
            class="bg-gray-800 text-gray-100 w-1/6 space-y-6 pt-6 px-0 absolute inset-y-0 left-0 transform md:relative md:translate-x-0 transition duration-200 ease-in-out  md:flex md:flex-col md:justify-between overflow-y-auto"
            data-dev-hint="sidebar; px-0 for frameless; px-2 for visually inset the navigation">
            <div class="flex flex-col space-y-6" data-dev-hint="optional div for having an extra footer navigation">
                <a href="./" class="text-white flex items-center space-x-2 px-4"
                    title="Analyzing Climate Change using Earth Surface Temperature Visualization">
                    <span class="text-2xl font-extrabold whitespace-nowrap truncate">Analyzing Climate Change using
                        Earth Surface Temperature Visualization</span>
                </a>

                <nav data-dev-hint="main navigation">
                    <!-- <p class="flex items-center space-x-2 py-2 px-4">
                        <select class="px-4 py-3 rounded-full bg-gray-600 w-full">
                            <option selected value="None">Choose a Country</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </p> -->
                    <p class="flex items-center space-x-2 py-2 px-4">
                        <select class="px-4 py-3 rounded-full bg-gray-600 w-full">
                            <option selected value="None">Choose a City</option>
                            <option>Option 1</option>
                            <option>Option 2</option>
                            <option>Option 3</option>
                        </select>
                    </p>
                    <p class="flex items-center space-x-2 py-2 px-4"><span><strong>Start Date: </strong></span><input
                            type="date" class="rounded bg-gray-600 w-full" /><span></p>
                    <p class="flex items-center space-x-2 py-2 px-4"><strong>End Date: </strong></span><input
                            type="date" class="rounded bg-gray-600 w-full" /></p>
                    <p class="flex items-center space-x-2 py-2 px-4">
                        <button class="text-center px-6 py-2 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 w-full">
                            Display Data
                        </button>
                    </p>
                </nav>
            </div>
        </aside>

        <main id="content" class="flex-1 p-6 lg:px-8 h-screen overflow-y-auto">
            <div class="mx-auto px-3 py-6">
                <button class="text-center px-6 py-2 border border-gray-400 text-xl font-medium rounded-md text-white bg-gray-700">
                    Map
                </button>
                <button class="text-center px-6 py-2 border border-gray-400 text-xl font-medium rounded-md bg-gray-100 hover:bg-gray-200">
                    Graph
                </button>
            </div>
            <div class="h-3/4 mx-auto">
                <div class="border-4 border-dashed border-gray-200 rounded-lg h-full">
                    {{ map_div }}
                </div>
            </div>
        </main>
    </div>
</body>
<script>
    {{ script_txt }}
</script>

</html>